.jawbone {
  display: flex;
}

.infoPanel {
  display: flex;
  flex-direction: column;
  padding: 30px 5px 76px 86px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.tabs {
  width: 40%; /* temporary workaround */
}

.poster {
  width: 384px;
  height: 546px;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  align-self: flex-start;
  font-weight: lighter;
  font-size: 64px;
  line-height: 0.3;
  color: #222426;
}

.headline {
   font-size: 24px;
   padding-top: 16px;
   margin-bottom: 12px;
   font-weight: 400px;
 }

.title {
  font-weight: 500;
  font-size: 48px;
  color: #222426;
}

.slide {
  padding: 10px;
}

.row {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.great {
  color: green;
}
